<!DOCTYPE html>
<html>
<head>
  <title>TEA Plates</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <div class="container">
    <h1>TEA Plates</h1>
    <div class="input-container">
        <form action="/add-plate" method="POST">
          <input type="text" name="plateNumber" placeholder="Enter a plate number (ABC-123)" required />
          <button type="submit">Add Plate</button>
        </form>
      </div>
      <div class="input-container">
        <form action="/delete-plate" method="POST">
          <input type="text" name="plateNumber" placeholder="Enter a plate number (ABC-123)" required />
          <button type="submit">Delete</button>
        </form>
      </div>
    <div class="plates-container">
      <% for (let i = 1; i <= 999; i++) { %>
        <% const plateNumber = `TEA-${String(i).padStart(3, '0')}`; %>
        <div class="plate <%= plates.includes(plateNumber) ? 'owned' : '' %>">
          <%= plateNumber %>
        </div>
      <% } %>
    </div>
  </div>
</body>
</html>